header{
    background-image: url(img/907896.jpg);
    border-radius: 20px;
    background-size: cover;
}
a{
    text-decoration: none;
}

h1{
    color: green;
}

section{
    color: blue;
}

footer{
    color: red;
}
.p1{
    color: yellow;
}